<template name="questionItem">
  <div class="question">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="question-content">
      <h3><a href="{{url}}">{{title}}</a></h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'questionPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownQuestion}}<a href="{{pathFor 'questionEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'questionPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>
